.Lorem {
  
    font-family: SourceSansPro;
  
    font-size: 24px;
  
    font-weight: normal;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.5;
  
    letter-spacing: -0.4px;
  
    text-align: left;
  
    color: #8d8c8c;

    height: 100%;
  
  }