.Empresa {

    width: 306.3px;
  
    height: 39px;
  
    font-family: Roboto;
  
    font-size: 30px;
  
    font-weight: bold;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: normal;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #1a0e49;

    list-style-type: none;
  
  }


  .Negcio {

    width: 172.6px;
  
    height: 32px;
  
    font-family: Roboto;
  
    font-size: 24px;
  
    font-weight: normal;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: normal;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #8d8c8c;

    list-style-type: none;
  
  }

  .Pais {

    width: 119.7px;
  
    height: 24px;
  
    font-family: Roboto;
  
    font-size: 18px;
  
    font-weight: normal;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: normal;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #8d8c8c;

    list-style-type: none;
  
  }

  .searchtopoo {

    height: 154px;
  
    background-image: linear-gradient(173deg, #ee4c77, #ee4c77) !important;
  
    background-image: linear-gradient(173deg, var(--medium-pink), #ee4c77) ;
  
  }

  .mediumpink{
    background-color:  #ee4c77 !important;
  }

 body,html{
     height:100%;
     background-color: rgb(235, 233, 215);
 }