.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.BEMVINDO {

  width: 176px;

  height: 64px;

  font-family: Roboto;

  font-size: 24px;

  font-weight: bold;

  font-style: normal;

  font-stretch: normal;

  line-height: normal;

  letter-spacing: normal;

  text-align: center;

  color: #383743;

  margin-top: 50px;

}

.Lorem {

  width: 357.7px;

  height: 52px;

  font-family: Roboto;

  font-size: 18px;

  font-weight: normal;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.44;

  letter-spacing: -0.3px;

  text-align: center;

  color: #383743;

  margin-top:50px

}


.botaoentrar {

  width: 324px;

  height: 52.8px;

  border-radius: 3.6px;

  background-color: #57bbbc;

}

.logohomee{
  margin-top:50px;
}